name: Update Homebrew

on:
  release:
    types: [published] # 关键：只有当 Release 真正发布成功后才触发

jobs:
  update-formula:
    runs-on: ubuntu-latest
    steps:
      - name: Update Homebrew formula
        uses: mislav/bump-homebrew-formula-action@v3
        with:
          formula-name: starfetch
          homebrew-tap: Linus-Shyu/homebrew-tap
          # 使用触发该流程的 tag 名
          download-url: https://github.com/Linus-Shyu/StarFetch_Core/archive/refs/tags/${{ github.event.release.tag_name }}.tar.gz
        env:
          COMMITTER_TOKEN: ${{ secrets.HOMEBREW_TAP_TOKEN }}
