name: WinGet Initial Submission

on:
  workflow_dispatch: # 手动触发

jobs:
  submit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Komac
        uses: cargo-bins/cargo-binstall@main
      - run: cargo binstall komac --no-confirm
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run Komac New (Direct EXE)
        shell: bash
        env:
          # 请确保这个 Token 拥有 public_repo 权限
          GITHUB_TOKEN: ${{ secrets.HOMEBREW_TAP_TOKEN }}
        run: |
          komac new StarLakeAI.StarFetch \
            --publisher "Star Lake AI" \
            --package-name "StarFetch" \
            --license "MIT" \
            --version 0.2.2 \
            --urls "https://github.com/Linus-Shyu/StarFetch_Core/releases/download/v0.2.2/starfetch.exe" \
            --submit
