name: WinGet Initial Submission

on:
  workflow_dispatch: # 手动触发

jobs:
  submit:
    runs-on: ubuntu-latest
    steps:
      - name: Install Komac
        uses: cargo-bins/cargo-binstall@main
      - run: cargo binstall komac --no-confirm
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Install expect (for unbuffer)
        run: sudo apt-get update && sudo apt-get install -y expect

      - name: Run Komac New
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.HOMEBREW_TAP_TOKEN }}
        run: |
          # 针对你的 zip 文件名进行提交
          # printf 里的空格是为了在 komac 弹出列表时选中 starfetch.exe
          printf ' \n\n\n\n' | unbuffer -p komac new StarLakeAI.StarFetch \
            --publisher "Star Lake AI" \
            --package-name "StarFetch" \
            --license "MIT" \
            --urls "https://github.com/Linus-Shyu/StarFetch_Core/releases/download/v0.2.2/starfetch-windows-x86_64.zip" \
            --version 0.2.2 \
            --package-locale en-US \
            --submit
